.price {
  color: red;
  font-size: 20px;
}

.itemname {
  font-weight: bold;
}
.itemcategory {
  opacity: 0.5;
}

ul {
  list-style-type: none;
  
  height: 400px;
  width: 244px;
}
.cards {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 300px;
}

.menuimg {
height: 200px;
width: 200px;
margin-right: 10px;
border-radius: 5px;

}

.menuimg:hover{
border: 2px solid red;
}

.addbutton {
  width: 150px;
  height: 30px;
  background-color: #ffffff;
  padding-top: 5px;
  border-radius: 30px;
  color: white;
  color: black;
  position: absolute;
  margin-left: -76px;
  margin-top: -17px;
}
#cart {
  position: fixed;
  right: 0;
  margin-right: 250px;
  height: auto;
  width: 350px;
  margin-top: 20px;
  box-shadow: 2px 2px 2px 2px gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#head {
  width: 100px;
  text-align: left;
  margin-left: 300px;
}

#OrderSummary {
  width: 250px;
  height: 50px;
  border-radius: 30px;
  background-color: hsl(14, 86%, 42%);
  color: white;
}

#OrderComfirmation {
  border: none;
  border-radius: 10px;
  box-shadow: 2px 3px #888888;
}

#itemQty {
  width: 25px;
  text-align: center;
}

.menuItems {
  height: auto;
}

.oerationButton {
  background-color: hsl(14, 86%, 42%);
  width: 120px;
  margin-left: 60px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  margin-top: -10px;
  position: relative;
  z-index: -1px;
}

#add {
  border: 1px solid white;
  background-color: hsl(14, 86%, 42%);
  border-radius: 100px;
}

#sub {
  border: 1px solid white;
  background-color: hsl(14, 86%, 42%);
  border-radius: 100px;
}

#OrderHeader {
  color: red;
  text-align: left;
  margin-right: 100px;
}

.orderList {
  text-align: left;
  list-style-type: none;
  margin-left: 30px;
}
.countPrice {
  color: rgb(232, 230, 230);
}


.count {
  color: red;
}
.close{
  
  width: 23px;
  border: 1px solid  rgb(232, 230, 230) ;
  border-radius: 100px;
  
}

.orderDiv{

  flex-direction: column;
  align-items: left;
}

.secDiv{
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
}

.mainDiv{
  border-bottom: 1px solid rgb(202, 194, 194) ;
  width: 300px;
  height: 70px;
 
}
.finalOrder{
  text-align: left;
}