.price {
  color: red;
  font-size: 20px;
}

.itemname {
  font-weight: bold;
}
.itemcategory {
  opacity: 0.5;
}

ul {
  list-style-type: none;
  border: 1px solid gray;
  height: 400px;
  width: 244px;
}
.cards {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 300px;
}

.menuimg {
  border: 1px solid black;
  margin-top: 10px;
  height: 500px;
}

.addbutton {
  margin-top: 20px;
  width: 150px;
  height: 30px;
  background-color: #ffffff;
  padding-top: 5px;
  border-radius: 30px;
  color: white;
  margin-left: 10px;
  color: black;
}
#cart{  
 position: fixed;
 right: 0;
 margin-right: 300px;
 height: 300px;
 width: 300px;
 margin-top: 20px;
 border: 1px solid black;

}

#head{
  width: 100px;
text-align: left;
margin-left: 300px;

}
