.price {
  color: red;
  font-size: 20px;
}

.itemname {
  font-weight: bold;
}
.itemcategory {
  opacity: 0.5;
}

ul {
  list-style-type: none;
  border: 1px solid gray;
  height: 400px;
  width: 244px;
}
.cards {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  justify-content: center;
}

.menuimg {
  border: 1px solid black;
  margin-top: 10px;
  height: 500px;
}

.addbutton {
  margin-top: 20px;
  width: 150px;
  height: 30px;
  background-color: hsl(14, 86%, 42%);
  padding-top: 5px;
  border-radius: 30px;
  color: white;
  margin-left: 30px;
}


